{% extends "base.html" %}

{% comment %}
    VIEW                TEMPLATE                    	URL PATTERN
    --------------------------------------------------------------------
    SprintBacklogView   sprint_backlog.html             /backlog/sprint/
{% endcomment %}


{% block title %}Project Huddle - Sprint {% endblock %}

{% block content %}
	<h2>Current Sprint</h2>
				
	<h3>Burndown Chart</h3>
	<a href="{% url 'backlog:chart' %}">
	<img src="{% url 'backlog:chart' %}" width="400" />
	</a>
				
	<h3>Sprint Backlog</h3>
	{% if sprint_backlog %}
	
		<table>
		{% for us in sprint_backlog %}
		<tr>
			<td><a href="{% url 'backlog:detail' us.id %}">{{ us.title }}</a> </td>
			<td><a href="{% url 'backlog:userstory_edit' us.id %}">edit</a> </td>
			<td><a href="{% url 'backlog:userstory_delete' us.id %}">delete</a> </td>
		</tr>
		{% endfor %}
		</table>
		
	{% else %}
		<p>No User Stories available. </p>
	{% endif %}

{% endblock %}