{% extends "base.html" %}

{% comment %}
    VIEW                TEMPLATE                    	URL PATTERN
    --------------------------------------------------------------------
    UserStoryCreate     userstory_form.html             /backlog/add/
{% endcomment %}


{% block title %}Project Huddle - Create User Story {% endblock %}

{% block content %}

	<h3>Create User Story</h3>
	<form action="" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Create" />
	</form>
{% endblock %}